<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Shop</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="header ficb">
				<a href="/"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo"></a>
				<nav>
					<ul class="menu ficc">
							<li class="menu__item"><a href="/catalog" class="menu__item_link">Каталог</a></li>
							<li class="menu__item"><a href="/quiz" class="menu__item_link">Рекомендации</a></li>
							<li class="menu__item"><a href="/#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="card">
		<div class="container">
			<div class="card ficb">
				{% for item in card_item %}
					<div class="card__block">
						<img src="{{ item.image.url }}" alt="{{ item.title }}" class="card__img">
					</div>
					<div class="card__block card__block_sec">
						<div class="title">{{ item.title }}</div>
						<div class="card__block_price">{{ item.price }}</div>
						<div class="card__elems ">
							<span class="card__elems_intro">Состав</span>
							<div class="card__items">
								<span class="card_items_intro">
									{{ item.bouquet_composition }}
								</span>
							</div>
						</div>
						<div class="card__elems ">
							<span class="card__elems_intro">Размер</span>
							<div class="card__items">
								<span class="card_items_intro">
									Высота - 50 см
								</span>
								<span class="card_items_intro">
									Ширина - 30 см
								</span>
							</div>
						</div>
						<form action="/order/" method="post">
						  {% csrf_token %}
						  <input type="hidden" name="item_id" value="{{ item.id }}">
						  <button class="btn largeBtn card__btn">Заказать букет</button>
						</form>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section id="consultation">
		<div class="container">
			<div class="consultation">
				{% if messages %}
					{% for message in messages %}
						<div class="title consultation__title">{{ message }}</div>
					{% endfor %}
				{% else %}
					<div class="title consultation__title">Оставьте заявку на консультацию</div>
				{% endif %}
				<form action="/consultation_post/" method="post" class="consultation__form">
					{% csrf_token %}
					<input type="text" name="firstname" class="consultation__form_input" placeholder="Введите Имя" required>
					<input type="text" name="phone" class="consultation__form_input" placeholder="+79990000000" required>
					<button type="submit" class="consultation__form_btn">Отправить</button>
				</form>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<a href="/"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo footer__logo"></a>
				<nav>
					<ul class="menu footer__menu ficc">
							<li class="menu__item"><a href="/catalog" class="menu__item_link">Каталог</a></li>
							<li class="menu__item"><a href="/quiz" class="menu__item_link">Рекомендации</a></li>
							<li class="menu__item"><a href="/#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
				<hr class="line"></hr>
				<a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="footer__poli">Политика конфиденциальности</a>
				<p class="footer_cop">©️2023. FlowerShop. Все права защищены</p>
			</div>
		</div>
	</footer>
</body>
</html>