<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Shop</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="header ficb">
				<a href="/"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo"></a>
				<nav>
					<ul class="menu ficc">
						<li class="menu__item"><a href="/catalog" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="/quiz" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="singUpConsultation">
		<div class="container">
			<div class="singUpConsultation">
				<form action="/consultation_post/" method="post" class="singUpConsultation__form">
					{% csrf_token %}
					<div class="title">Запись на консультацию</div>		
					<input type="text" name="firstname" class="order__form_input" placeholder="Введите Имя" required>
					<input type="text" name="phone" class="order__form_input" placeholder="+79990000000" required>
					<div class="chekbox fic">
						<input type="checkbox" class="singUpConsultation__ckekbox" checked required>
						<span class="chekbox__intro">Я согласен(а) с политикой конфидециоальности</span>
					</div>
					<button class="btn singUpConsultation__form_btn">Отправить</button>	
				</form>
				<div class="blockImgHiden"></div>
			</div>
		</div>
		<img src="{% static 'img/singUpConsultationImg.jpg' %}" alt="singUpConsultationImg" class="singUpConsultation__img">
	</section>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<a href="/"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo footer__logo"></a>
				<nav>
					<ul class="menu footer__menu ficc">
						<li class="menu__item"><a href="/catalog" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="/quiz" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
				<hr class="line"></hr>
				<a href="#" class="footer__poli">Политика конфиденциальности</a>
				<p class="footer_cop">©️2023. FlowerShop. Все права защищены</p>
			</div>
		</div>
	</footer>
</body>
</html>